@tailwind base;

@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }
}

@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply font-sans;
}

@layer components {
  /* example with tailwind */
  /* .btn {
    @apply inline-flex whitespace-nowrap rounded bg-pink-600 px-4 py-2 font-bold uppercase text-slate-50 transition-colors hover:bg-pink-500;
  } */

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8rem 0 6rem;
  }

  .logo,
  .thirteen {
    position: relative;
  }

  .thirteen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 25px 10px;
    margin-left: 16px;
    transform: translateZ(0);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0px 2px 8px -1px #0000001a;
  }
}
.sectionTitle {
  @apply text-[30px] leading-[36px] md:text-[34px] md:leading-[41px] xl:text-[54px] xl:leading-[65px];
}
.sectionSubtitle {
  @apply text-[20px] leading-[26px] md:text-[24px] md:leading-[31px] xl:text-[28px] xl:leading-[41px];
}

.slide-bottom {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
  animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

.swiper-pagination-bullet {
  --swiper-pagination-color: black;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}
.swiper-pagination-bullet-active {
  border: 2px solid white;
}

.nav-active {
  font-weight: 900;
}
